<html>
  <head>
    <title>Online Web Game - Character selection</title>
    <style>
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Character selection</h1>
      <form action="/createchar">
        <input type="submit" value="Create new character">
      </form>
    </div>
</html>