<html>
  <head>
    <title>Online Web Game - Character creation</title>
    <style>
      div {
        text-align: center;
      }
      .charImgBox {
        display: inline-block;
        height: 48px;
        width: 48px;
        border: 1px solid #ccc;
      }
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      form {
        display: block;
        padding: 10px;
      }
      input {
        margin: 8px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Character creation</h1>
      <form action="/createchar_act" method="POST">
        <input type="text" name="inp_charname" maxlength="16" placeholder="Character name">
        <div>
          <input type="hidden" name="charSprite" id="charSprite" value="">
          <button type="button" onclick="prevchar();">Prev</button>
          <div class="charImgBox">
            <img id="charImg"></canvas>
          </div>
          <button type="button" onclick="nextchar();">Next</button>
        </div>
        <input type="submit" value="Create">
      </form>
      <form action="/charselect">
        <input type="submit" value="Back">
      </form>
    </div>
    <script>
      var char = 0;
      var charList = <%-JSON.stringify(charCreationList)%>;
      var charPathDict = <%-JSON.stringify(charCreationPathDict)%>;
      var charImgLoaded = false;
      const charImg = document.getElementById("charImg");
      const charTileValue = document.getElementById("charSprite");
      charImg.onload = function() {
        charImgLoaded = true;
      }
      updateChar();

      function prevchar() {
        if (!charImgLoaded) return;
        char--;
        if (char < 0) {
          char = charList.length - 1;
        }
        updateChar();
      }

      function nextchar() {
        if (!charImgLoaded) return;
        char++;
        if (char > charList.length - 1) {
          char = 0;
        }
        updateChar();
      }

      function updateChar() {
        charImg.src = "assets/sprites/" + charPathDict[charList[char]];
        charTileValue.value = char;
        charImgLoaded = false;
      }
    </script>
</html>
