<html>
  <head>
    <title>Online Web Game - Character selection</title>
    <style>
      div {
        text-align:center;
        padding:8px;
      }
      .charImg {
        display: inline-block;
        width:48px;
        height:48px;
        border:1px solid #ccc;
      }
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Character selection</h1>
      <div>
        <p>You are logged in as <%= accName %>.</p>
        <form action="/logout">
          <input type="submit" value="Log out">
        </form>
      </div>
      <% charList.forEach(function(char, i) { %>
        <div style="width:auto; border:1px solid #ccc;">
          <div class="charImg">
            <img src="assets/sprites/<%= charImgPathDict[char.charID] %>"><br>
          </div>
          <p><%= char.name %></p>
          <a href="/charselect_act?id=<%= char.charID %>">Select</a>
        </div>
      <% }) %>
      <form action="/createchar">
        <input type="submit" value="Create new character">
      </form>
    </div>
  </body>
</html>