<html>
  <head>
    <title>Online Web Game - Sign in</title>
    <style>
      div {
        text-align: center;
      }
    </style>
    <meta name="google-signin-client_id" content="858342257243-cq6gsi1djkukgq3vlhkat4ir3maa922m.apps.googleusercontent.com">
  </head>
  <body>
    <div>
      <h1>Create new account</h1>
      <form method="POST" action="/acc_create_act">
        <input type="text" name="inp_name" placeholder="Account Name">
        <input type="password" name="inp_password" placeholder="Password">
        <input type="submit" value="Create">
      </form>
    </div>
  </body>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</html>