# compiled output
/dist

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# npm debug
/npm-debug.log
/src/npm-debug.log