body {
    background-color: #444;
}

div {
    text-align: center;
}

#left-column {
    float: left;
    width: 15%;
    height: 100%;
    color: white;
    background-color: #222;
    border: 1px solid #2e9afe;
}

#right-column {
    float: right;
    width: 83%;
    color: white;
}

#inpFile {
    width: 100%;
    color: white;
    background-color: #555;
    border: 1px solid #2e9afe;
}

.disp-canvas {
    position: relative;
    float: left;
}

.disp-canvas canvas {
    left: 0;
    top: 0;
    width: 800px;
    height: 600px;
    background-color: #222;
    border: 1px solid #2e9afe;
}

.tile-palette {
    float: right;
    width: auto;
    height: 600px;
    overflow: auto;
    background-color: #222;
    border: 1px solid #2e9afe;
}

.palette-tile {
    width: 32px;
    height: 32px;
}

.tile-preview-img {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
}