<html>
  <head>
    <title>Online Web Game - Editor</title>
    <style>
      div {
        text-align: center;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/style/mapeditor.css">
    <meta name="google-signin-client_id" content="858342257243-cq6gsi1djkukgq3vlhkat4ir3maa922m.apps.googleusercontent.com">
  </head>
  <body>
    <div>
        <div id="left-column">

        </div>
        <div id="right-column">
          <div class="disp-canvas">
            <canvas id="cv_maplayer" style="z-index: 0;"></canvas>
          </div>
        </div>
    </div>
  </body>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/static/editor/map-editor.js"></script>
</html>